* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
  user-select: none;
}
body {
  font-family: 'Roboto Black', sans-serif;
}

.navbar {
  display: flex;
  background-color: rgb(44, 44, 44);
  height: 5em;
  box-shadow: 0 0.03em rgb(112, 43, 43);
}

.navbar a {
  text-decoration: none;
}

.navlogo {
  font-family: 'Chlorinar', 'Roboto Black';
  font-weight: bolder;
  color: lightgray;
  padding-left: 2%;
}

.logo {
  font-family: 'Chlorinar', 'Roboto Black';
  font-size: 270%;
  font-weight: bolder;
  color: lightgray;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 100%;
  font-family: monospace;
}

.panel {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Roboto';
  margin-top: 3%;
  background-color: #000;
  padding: 1.5%;
  padding-bottom: 0%;
  position: relative;
  width: 50%;
  height: 30em;
  position: center;
  border: 5px solid rgba(0, 0, 0, 0.323);
  border-radius: 2%;
  box-shadow: 0.3em 0.3em rgb(44, 44, 44);
}

.tuner {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 85%;
  background-color: rgb(44, 44, 44);
  color: lightgray;
  border: 1px solid white;
  border-radius: 2%;
}

.meter {
  display: flex;
  justify-content: center;
  padding: 3%;
  padding-top: 1%;
  margin: auto;
  height: 40%;
  width: 90%;
  background-color: rgb(242, 242, 242);
  font-family: 'Roboto Black';
  border: 0.1em solid black;
  border-radius: 0.5em;
}

.noteMeter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto;
  width: 55%;
  height: 100%;
  margin: auto;
  padding: 2.5em;
  font-family: 'Wallpoet', 'Roboto Black';
  color: lightgray;
  background-color: black;
  border-radius: 0.5em;
}

.noteChar {
  font-size: 500%;
}

.meterNote {
  color: black;
  font-family: 'Wallpoet', 'Roboto Black';
  font-weight: bolder;
}

.controls {
  display: flex;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 0.2%;
  color: #A9A9A9;
  text-shadow: 0.1em 0.1em rgb(58, 0, 0);
}

.ctrlBtn {
  padding: 1%;
  width: 25%;
  height: 90%;
  font-weight: bolder;
  font-family: 'Roboto';
  text-shadow: 0.1em 0.1em rgb(58, 0, 0);
  font-size: 100%;
  margin: auto;
  background-color: rgb(112, 43, 43);
  color: #A9A9A9;
  border: 0.01em solid black;
  border-radius: 0.5em;
  box-shadow: 0.03em 0.2em rgb(131, 50, 50);
}

.ctrlBtn:hover {
  background-color: rgb(131, 50, 50);
}

.ctrlBtn:active {
  box-shadow: none;
  transform: translateY(0.1em) translateX(0.1em);
}

.stdFreqSel {
  display: flex;
  padding: 1%;
  width: 33%;
  height: 100%;
  font-weight: bolder;
  font-family: 'Roboto';
  font-size: 100%;
  margin: auto;
  background-color: rgb(112, 43, 43);
  color: #A9A9A9;
  border: 0.01em solid black;
  border-radius: 0.5em;
  box-shadow: 0.03em 0.2em rgb(131, 50, 50);
}

.stdFreqSel:hover {
  background-color: rgb(131, 50, 50);
}

.rangeInput {
  display: flex;
  margin: auto;
  color: #000;
  width: 50%;
}

.manInput {
  display: flex;
  margin: auto;
  width: 25%;
}

.noise {
  font-family: 'Chlorinar', 'Roboto Black';
  font-size: 120%;
}

.noNoise {
  font-family: 'Chlorinar', 'Roboto Black';
  font-size: 120%;
  color: rgb(44, 44, 44);
}