* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
body {
  font-family: 'Roboto Black', sans-serif;
}
.logo {
  font-family: 'Chlorinar', 'Roboto Black';
  font-size: 150%;
  font-weight: bolder;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 70%;
  font-family: monospace;
  
}

.panel {
  display: flex;
  flex-direction: column;
  margin: auto;
  font-family: 'Roboto';
  margin-top: 5%;
  background-color: #BA4A00;
  padding: 2%;
  position: relative;
  width: 45%;
  height: 23em;
  color: white;
  position: center;
  border: 5px solid black;
  border-radius: 2%;
}

.tuner {
  text-align: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 95%;
  background-color: rgb(44, 44, 44);
  color: white;
  border: 1px solid black;
  border-radius: 2%;
}

.meter {
  display: flex;
  justify-content: center;
  padding: 3%;
  margin: auto;
  height: 60%;
  width: 90%;
  background-color: #FFF;
  font-family: 'Roboto Black';
  border: 1px solid black;
  border-radius: 2%;
}

.startStop {
  display: flex;
  justify-content: center;
  padding: 1%;
  margin: auto;
  margin-top: 0.5%;
  width: 20%;
  height: 20%;
  font-weight: bolder;
  font-family: 'Roboto';
  font-size: 100%;
  background-color: rgb(44, 44, 44);
  color: white;
  border: 1px solid black;
  border-radius: 0.5em;
}

.noMessage {
 color: rgb(44, 44, 44); 
}